@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

:root {
  --background: #002379;
  --foreground: #e6ff94;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #002379;
    --foreground: #e6ff94;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--foreground);
  background: var(--background);
}
